.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 37.4rem;
}

.username-container,
.password-container {
  margin: 100px ;
  width: 250px;
}

.login-button {
  margin: 1rem;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.2em 0.2em;
  text-decoration: none;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.login-button:hover {
  box-shadow: 0 0 40px 40px #1abc9c inset;
  color: white;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.register-button {
  margin: 1rem;
  border-radius: 0.6em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.2em 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.register-button:hover {
  box-shadow: 0 0 40px 40px #1abc9c inset;
  color: white;
}
