@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.App{
  height: 100%;
  width: 100%;
  background-color: rgb(212, 212, 212);

}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-image: linear-gradient(#0f0f0f, rgb(23, 23, 23), rgb(65, 65, 65));

}
 
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: darkgrey;
  box-shadow: inset 1px 1px 6px rgb(0, 0, 0);
}


.wrapper {
  height: 37.4rem;
}

.help-button {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.profile-icon{
  display: flex;
}

@media screen and (max-width: 768px) {
  .profile-icon{
    display: flex;
  }
}

.a:link{
  text-decoration: none;
  color: rgba(26, 188, 156);
}
.a:hover {
  color: black;
}
.main-container {
  background: linear-gradient( rgb(20, 20, 20), #07352c, #0f705d, #15a387 );
  height: 58.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.author-container {
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0px 30px 40px 3px rgba(0, 0, 0, 0.6);
  font-style: italic;
  color: white;
}
