@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.title {
  padding-top: 6.5rem;
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 2rem;
}
.header {
  padding: 60px;
  padding-top: 130px;
  text-align: center;
  background: #1abc9c;
  color: white;
  border-bottom: 10px solid rgb(65, 65, 65);
}
.main {
  flex: 80%;
  background-color: white;
  padding: 2rem;
}
.row {
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1340px) {
  .row {
    flex-direction: column-reverse;
    border-left: 20px solid rgb(65, 65, 65);
  }
  .side {
    padding: 1rem;
    font-size: 1rem;
    justify-content: space-between;
    display: flex;
    flex: 100%;
    flex-direction: row;
  }
}

.sideimg {
  padding: 1rem;
  height: 150px;
  width: 150px;
}

.sideimg:hover {
  padding: 0.5rem;
  background-color: rgb(82, 81, 81);
}

.side {
  text-align: center;
  color: white;
  flex: 14%;
  padding: 1rem;
  background-color: rgb(65, 65, 65);
}

.home {
  display: flex;
  height: 90vh;
  justify-content: center;
  font-size: 3rem;
}

.converter-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

.help-button {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.topnav {
  width: 100%;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  position: fixed;
}

.content {
  padding-top: 2rem;
  display: flex;
  height: 100%;
  padding: 10px;
  align-items: center;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.a {
  text-decoration: none;
  color: #094136;
}
.a:hover {
  color: white;
}
.main-container {
  background: linear-gradient(
    0deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(255, 255, 255, 0.27555555555555555) 37%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 58.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

.author-container {
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  box-shadow: 0px 30px 40px 3px rgba(0, 0, 0, 0.6);
  font-style: italic;
}
