@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 768px) {

}

.title {
  padding-top: 6.5rem;
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 2rem;
}

.converter-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.help-button {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.topnav {
  width: 100%;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  position: fixed;
}


.a:link{
  text-decoration: none;
  color: rgba(26, 188, 156);
}
.a:hover {
  color: black;
}
.main-container {
  background: linear-gradient(
    180deg,
    rgba(26, 188, 156, 1) 0%,
    rgb(51, 51, 51)
  );
  height: 58.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

.author-container {
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0px 30px 40px 3px rgba(0, 0, 0, 0.6);
  font-style: italic;
  color: white;
}
