.converter-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    align-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 73rem;
}

.previews {
    font-size: 2rem;
    color: rgb(70, 70, 70);
    border: 8px solid rgb(65, 65, 65);
    max-width: 100%;
    width: 720px;
    height: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: rgb(50, 50, 50);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);

}

.input-button {
    border-radius: 0.6em;
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

.videoplayer {
    width: 720px;
    border: 8px solid rgb(65, 65, 65);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);
}

.convert-button {
  border-radius: 0.6em;
  font-size: 1.5rem;
  font-style: normal;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}

.convert-button:hover {
    color: rgb(255, 255, 255);
    background: #1abc9c;
    box-shadow: 0px 1px 10px 3px rgba(46, 46, 46, 0.6);
  }

.results {
    font-size: 2rem;
    color: rgb(70, 70, 70);
    border: 8px solid rgb(65, 65, 65);
    width: 720px;
    height: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: rgb(50, 50, 50);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);

}

.rotate{
    position: relative;
    margin: 3rem;
    font-size: 3rem;
    color: rgb(70, 70, 70);
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.titles {
    background: rgb(50, 50, 50);
    padding-top: 10%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 2rem;
    height: 37.4rem;

}

.input-file{
    background-color: #929292;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 2rem;
}

.input-file:hover {
    background-color: #bebebe;
    box-shadow: 2px 0px 10px 10px rgba(255, 255, 255, 0.034);

}

.types-dropdown{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    color: white;
    background-color: rgb(65, 65, 65);
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
}

.types-dropdown:hover{
    background-color: rgb(99, 99, 99);
}

.length-dropdown{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    color: white;
    background-color: rgb(65, 65, 65);
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
}

.length-dropdown:hover{
    background-color: rgb(99, 99, 99);
}

.start-dropdown{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    color: white;
    background-color: rgb(65, 65, 65);
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
}


.start-dropdown:hover{
    background-color: rgb(99, 99, 99);
}
