.converter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(39, 39, 39);
    align-content: space-around;
    align-items: center;
    min-height: 80rem;
}

.previews {
    color: rgb(70, 70, 70);
    border: 8px solid rgb(65, 65, 65);
    width: 768px;
    height: 384px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: rgb(50, 50, 50);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);

}

.input-button {
    border-radius: 0.6em;
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

.videoplayer {
    z-index: -1;
    border: 8px solid rgb(65, 65, 65);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);
}

.convert-button {
  border-radius: 0.6em;
  font-size: 1.5rem;
  font-style: normal;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}

.convert-button:hover {
    color: rgb(255, 255, 255);
    background: #1abc9c;
    box-shadow: 0px 1px 10px 3px rgba(46, 46, 46, 0.6);
  }

.results {
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    border: 8px solid rgb(65, 65, 65);
    width: 768px;
    height: 384px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: rgb(50, 50, 50);
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.9);

}

.titles {
    padding: 1rem;
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 2rem;
}