.container {
  background: linear-gradient(
    180deg,
    #1abc9c 0%,
    rgba(65, 65, 65, 1) 48%,
    rgba(23, 23, 23, 1) 100%
  );
  height: 44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mailer-container {
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  flex-direction: column;
  box-shadow: 0px 30px 40px 3px rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.support-title {
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
}

.label-name {
  color: white;
  padding-right: 10px;
  font-size: 1.7rem;
  text-align: right;
  vertical-align: top;
}

.submit-button {
  font-size: 1.5rem;
  font-style: normal;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}
.submit-button:hover {
  color: rgb(255, 255, 255);
  background: #1abc9c;
  box-shadow: 0px 1px 10px 3px rgba(46, 46, 46, 0.6);
}

textarea {
  resize: none;
  font-size: 1.2rem;
  width: 20rem;
  padding: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 20rem;
}
