.header {
    padding: 40px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1abc9c;
    color: white;
    border-bottom: 10px solid rgb(65, 65, 65);

    box-shadow: inset 0px -5px 21px -4px #000000;
}


.abscura-title{
    font-style:italic;
    text-transform: lowercase;
    font-size: 3rem;
    text-shadow: 6px -2px 8px rgba(0,0,0,1);
}
