.header {
    padding: 40px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #138b73;
    color: white;
    border-bottom: 10px solid rgb(65, 65, 65);

    box-shadow: inset 0px -5px 21px -4px #000000;
}


.abscura-logo{
    filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.7))
}

.abscura-title{
    z-index: 1;
    font-style:italic;
    text-transform: lowercase;
    font-size: 3rem;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
}
